body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

:root {
  --text-size: 20px;
  --dark-green: #294b5e;
}

.App {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.App-header {
  background-color: var(--dark-green);
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}

/* Landing section styles */
.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Center text horizontally */
  width: 80%; /* Set width to 80% of the viewport width */
  max-width: 1000px; /* Limit maximum width to 600px */
  height: auto; /* Let the height adjust based on content */
  padding: 0px; /* Add padding for better spacing */
  margin: 0px;
  box-sizing: border-box; /* Include padding and border in the total width */
}
.landing h1 {
  font-size: 80px;
  margin-bottom: 40px; /* Spacing between header and text */
}
.landing p {
  font-size: var(--text-size);
  margin-bottom: 30px; /* Spacing between text and button */
  line-height: 30px;
}
.landing button {
  display: block;
  margin: auto;
  border-radius: 100px;
  padding: 20px 50px;
  font-size: var(--text-size);
}
.landing button:hover {
  box-shadow: 3px 5px 2px 0px #294b5e; /* right offset : bottom offset : glow : shadow expand*/
  transition: box-shadow 0.3s ease-in-out;
}

.background {
  background-image: url('background.png');
  background-size: cover;
}

.survey {
  display: block;
  margin: auto;
  margin-top: 100px;
  border: 1px solid var(--dark-green);
  border-radius :25px;
  padding: 20px;
  background-color: white;
  width: 250px;
  box-shadow: 1px 2px 5px 0px var(--dark-green);
  padding-bottom: 30px;
}
.survey:hover {
  box-shadow: 5px 5px 5px 1px #294b5e; /* right offset : bottom offset : glow : shadow expand*/
  transition: box-shadow 0.5s ease-in-out;
}

.survey-title {
  margin-bottom: 20px;
  text-align: center;
}

.video {
  display: block;
  margin: auto;
  margin-top: 100px;
  border: 1px solid #000000;
  border-radius :25px;
  padding: 20px;
  background-color: white;
  width: 500px;
  height: 430px;
  box-shadow: 1px 2px 5px 0px grey;
}

.button {
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: box-shadow, 0.3s;
}

.button-container {
  display: flex;
}

.button:hover {
  box-shadow: 1px 2px 2px 0px grey;
}

.options{
  margin-left: 20px;
  margin-top: 5px;
}